<span class="bigtitle">Tutaj powstaje nowa zawartość strony</span>

<div class="dottedline"></div>
<div class="row-eq-height">
    <div class="col-sm-6 centre-verticaly">
        <img src="@Url.Content("~/Content/Pictures/WorkInProgress.png")" class="img-responsive img-thumbnail content-image" style="background-color: transparent;" />
    </div>
    <div class="col-sm-6 centre-verticaly">
        <p>
            &emsp; <h2 style="font-weight:900;">Prosimy o cierpliwość</h2>

        </p>
    </div>
</div>