<span class="bigtitle">Kim jest ministrant?</span>

<div class="dottedline"></div>
<div class="row equal">
    <div class="col-sm-6 centre-verticaly">
        <img src="@Url.Content("~/Content/Pictures/bierzmowanie.jpg")" class="img-responsive img-thumbnail content-image" />
    </div>
    <div class="col-sm-6 centre-verticaly">
        <p>
            &emsp; <b style="font-weight:900;">„Ministrare”</b> (z łaciny) znaczy „służyć”. Słowo ministrant wskazuje szczególnie na służbę we Mszy świętej. Ministrant jest pomocnikiem przy sprawowaniu Mszy św. i podczas nabożeństw liturgicznych.
            Przez służenie wskazuje, że każde nabożeństwo sprawowane w kościele jest nie tylko sprawą kapłana lecz całej parafii i wszystkich wiernych. „Uczestniczyć w liturgii” znaczy także współdziałać i współtworzyć ją czynnie się w niej angażując.
            Ponadto ministranci tworzą pewną wspólnotę. Razem starają się szukać dobra, o nim rozmawiać, dobro przeżywać. Dyskutują o wielu sprawach: po co wierzyć Bogu, jak wierzyć, jak stawać się lepszym.
            W naszej parafii ministrantem może zostać każdy chłopiec po I Komunii św. Aby zostać ministrantem musi przez rok być kandydatem. Jest to formacja początkowa, która wprowadza chłopców w życie całej wspólnoty ministranckiej.
  
        </p>
    </div>
</div>
