<span class="bigtitle">Podział ministrantów na grupy</span>

<div class="dottedline"></div>
@* GROUPS LIST FOR WORKDAYS *@
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Grupy w tygodniu</h1>
        <hr />
        <br />
    </div>
</div>

<<div class="row equal">
    <div class="col-sm-6">
        <h3 class="text-center">Grupa I</h3>
        <ol class="text-center Groups" style="list-style-position:inside;">
            <li>Mikołaj Gwóźdź</li>
            <li>Kuba Skudlik</li>
            <li>Karol Binkiewicz</li>
        </ol>
    </div>
    <div class="col-sm-6">
        <h3 class="text-center ">Grupa II</h3>
        <ol class="text-center Groups" style="list-style-position:inside;">
            <li>Tymoteusz Petela</li>
            <li>Kuba Wystrach</li>
            <li>Marcin Czyżykowski</li>
        </ol>
    </div>
</div>

@* GROUPS LIST FOR SUNDAY *@
<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Grupy w Niedziele</h1>
        <hr />
        <br />
    </div>
</div>
<div class="row equal">
    <div class="col-sm-3">
        <h3 class="text-center">Grupa I</h3>
        <ol class="text-center Groups" style="list-style-position:inside;">
            <li>Mikołaj Gwóźdź</li>
            <li>Kuba Skudlik</li>
        </ol>
    </div>
    <div class="col-sm-3">
        <h3 class="text-center">Grupa II</h3>
        <ol class="text-center Groups" style="list-style-position:inside;">
            <li>Tymoteusz Petela</li>
            <li>Kuba Wystrach</li>
        </ol>
    </div>


    <div class="col-sm-3">
        <h3 class="text-center">Grupa III</h3>
        <ol class="text-center Groups" style="list-style-position:inside;">
            <li>Michał Guziel</li>
            <li>Krzysztof Mika</li>
        </ol>
    </div>
    <div class="col-sm-3">
        <h3 class="text-center">Grupa IV</h3>
        <ol class="text-center Groups" style="list-style-position:inside;">
            <li>Szymon Turczyński</li>
            <li>Marcin Czyżykowski</li>
            <li>Piotr Majcher</li>
        </ol>
    </div>
</div>
