
        <span class="bigtitle">Witamy na stronie wspólnoty ministranckiej <br /> Św. Pawła w Zabrzu.</span>

        <div class="dottedline"></div>
        <div class="row equal">
            <div class="col-sm-6 centre-verticaly">
                <img src="@Url.Content("~/Content/Pictures/church.png")" class="img-responsive img-thumbnail content-image"/>
            </div>
            <div class="col-sm-6 centre-verticaly">
                <p>
                    Strona  powstała aby ułatwić dostęp do informacji potrzebnych ministranta, kandydatom na ministrantów oraz ich rodzica.
                    Można na niej zapoznać się z aktualnymi służeniami, oraz dowiedzieć się o naszej działalności, planachna najbliższy czas.
                </p>
            </div>
        </div>
