<span class="bigtitle">Wydarzenia - Kolędy</span>

<div class="dottedline"></div>
<div class="row equal">
    <div class="col-sm-12 centre-verticaly">
        <hr>
        <table cellspacing=0 border=1>
            <tr>
                <td style=min-width:50px>DATA</td>
                <td style=min-width:50px>DZIEŃ TYGODNIA</td>
                <td style=min-width:50px>GODZ. </td>
                <td style=min-width:50px>ULICE </td>
                <td style=min-width:50px>MINISTRANT</td>
                <td style=min-width:50px>MINISTRANT </td>
            </tr>
            <tr>
                <td style=min-width:50px>Saturday, December 02, 2017</td>
                <td style=min-width:50px>Sobota</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Sikorskiego </td>
                <td style=min-width:50px>Mika</td>
                <td style=min-width:50px>Petela</td>
            </tr>
            <tr>
                <td style=min-width:50px>Sunday, December 03, 2017</td>
                <td style=min-width:50px>Niedziela</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Sikorskiego 39-47a, 47b, 47c, 49, 51, 55-65 </td>
                <td style=min-width:50px>Turczyński</td>
                <td style=min-width:50px>Guziel</td>
            </tr>
            <tr>
                <td style=min-width:50px>Friday, December 08, 2017</td>
                <td style=min-width:50px>Piątek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Sikorskiego 69-95 </td>
                <td style=min-width:50px>Skudlik</td>
                <td style=min-width:50px>Wystrach</td>
            </tr>
            <tr>
                <td style=min-width:50px>Saturday, December 09, 2017</td>
                <td style=min-width:50px>Sobota</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Sikorskiego 95a-117 </td>
                <td style=min-width:50px>K. Fic</td>
                <td style=min-width:50px>Petela</td>
            </tr>
            <tr>
                <td style=min-width:50px>Sunday, December 10, 2017</td>
                <td style=min-width:50px>Niedziela</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Sikorskiego 121-137, 148-142 </td>
                <td style=min-width:50px>A. Fic</td>
                <td style=min-width:50px>Czyżykowski</td>
            </tr>
            <tr>
                <td style=min-width:50px>Friday, December 15, 2017</td>
                <td style=min-width:50px>Piątek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Sikorskiego 140h, 140a, 140b, 140c,138b, 138e, 138a, 138-124c </td>
                <td style=min-width:50px>Binkiewicz</td>
                <td style=min-width:50px>Guziel</td>
            </tr>
            <tr>
                <td style=min-width:50px>Saturday, December 16, 2017</td>
                <td style=min-width:50px>Sobota</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Sikorskiego 124-94 </td>
                <td style=min-width:50px>Gwózdz</td>
                <td style=min-width:50px>K. Fic</td>
            </tr>
            <tr>
                <td style=min-width:50px>Sunday, December 17, 2017</td>
                <td style=min-width:50px>Niedziela</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Sikorskiego 92-78 </td>
                <td style=min-width:50px>A. Fic</td>
                <td style=min-width:50px>Mika</td>
            </tr>
            <tr>
                <td style=min-width:50px>Wednesday, December 27, 2017</td>
                <td style=min-width:50px>Środa</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Sikorskiego 72-50 </td>
                <td style=min-width:50px>K. Fic</td>
                <td style=min-width:50px>Turczyński</td>
            </tr>
            <tr>
                <td style=min-width:50px>Thursday, December 28, 2017</td>
                <td style=min-width:50px>Czwartek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Sikorskiego 48-28 </td>
                <td style=min-width:50px>A. Fic</td>
                <td style=min-width:50px>Wita</td>
            </tr>
            <tr>
                <td style=min-width:50px>Friday, December 29, 2017</td>
                <td style=min-width:50px>Piątek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Zembali 24, 22a, 22, 20, 18, 16-2, 3, 1b, Głogowska 2-6 </td>
                <td style=min-width:50px>Majcher</td>
                <td style=min-width:50px>Binkiewicz</td>
            </tr>
            <tr>
                <td style=min-width:50px>Saturday, December 30, 2017</td>
                <td style=min-width:50px>Sobota</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Głogowska 1-15, 20-16 </td>
                <td style=min-width:50px>Wita</td>
                <td style=min-width:50px>Czyżykowski</td>
            </tr>
            <tr>
                <td style=min-width:50px>Tuesday, January 02, 2018</td>
                <td style=min-width:50px>Wtorek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Morciszka 2-14, Sudecka 2-21 </td>
                <td style=min-width:50px>Mika</td>
                <td style=min-width:50px>Guziel</td>
            </tr>
            <tr>
                <td style=min-width:50px>Wednesday, January 03, 2018</td>
                <td style=min-width:50px>Środa</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Ks. Mendego 37-1, 4, 2 </td>
                <td style=min-width:50px>Guziel</td>
                <td style=min-width:50px>Skudlik</td>
            </tr>
            <tr>
                <td style=min-width:50px>Thursday, January 04, 2018</td>
                <td style=min-width:50px>Czwartek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Ks. Mendego 28-6 </td>
                <td style=min-width:50px>Turczyński</td>
                <td style=min-width:50px>Guziel</td>
            </tr>
            <tr>
                <td style=min-width:50px>Friday, January 05, 2018</td>
                <td style=min-width:50px>Piątek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Ks. Mendego 2a, 2b, 2c, Pszczyńska 49-37, 26-3a </td>
                <td style=min-width:50px>Gwózdz</td>
                <td style=min-width:50px>Skudlik</td>
            </tr>
            <tr>
                <td style=min-width:50px>Sunday, January 07, 2018</td>
                <td style=min-width:50px>Niedziela</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Ks. Mendego 13a, Ks. Brejzy 32-1, Zembali 11, 13, 15, 17, 19 </td>
                <td style=min-width:50px>Mika </td>
                <td style=min-width:50px>Wystrach</td>
            </tr>
            <tr>
                <td style=min-width:50px>Monday, January 08, 2018</td>
                <td style=min-width:50px>Poniedziałek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Makowa, Tatrzańska 2-32 </td>
                <td style=min-width:50px>Gwózdz</td>
                <td style=min-width:50px>Binkiewicz</td>
            </tr>
            <tr>
                <td style=min-width:50px>Tuesday, January 09, 2018</td>
                <td style=min-width:50px>Wtorek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Łużycka, Na Piaski, Pawłowska, Rogoźnicka 4, 4a, Ks. Mendego 40, 38, 36, 32a </td>
                <td style=min-width:50px>Turczyński</td>
                <td style=min-width:50px>Czyżykowski</td>
            </tr>
            <tr>
                <td style=min-width:50px>Wednesday, January 10, 2018</td>
                <td style=min-width:50px>Środa</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Malwowa 2-24, Westerplatte 30, 32, Rogoźnicka 9-12 </td>
                <td style=min-width:50px>Majcher</td>
                <td style=min-width:50px>Petela</td>
            </tr>
            <tr>
                <td style=min-width:50px>Thursday, January 11, 2018</td>
                <td style=min-width:50px>Czwartek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Rogoźnicka 14-32, Kłosowa 1-12 </td>
                <td style=min-width:50px>Guziel</td>
                <td style=min-width:50px>Gwózdz</td>
            </tr>
            <tr>
                <td style=min-width:50px>Friday, January 12, 2018</td>
                <td style=min-width:50px>Piątek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Familijna 7,9, Rodzinna 29-1, Kurasia 30 </td>
                <td style=min-width:50px>Leksy</td>
                <td style=min-width:50px>Wystrach</td>
            </tr>
            <tr>
                <td style=min-width:50px>Saturday, January 13, 2018</td>
                <td style=min-width:50px>Sobota</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Westerplatte 29-7, 7a, 7c, 5c, 5b, 5a </td>
                <td style=min-width:50px>Petela</td>
                <td style=min-width:50px>Majcher</td>
            </tr>
            <tr>
                <td style=min-width:50px>Sunday, January 14, 2018</td>
                <td style=min-width:50px>Niedziela</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Westerplatte 57, 60, 59, 50a, 50c, 50e, 50h, 50g, 50b, 50, 50f, 50j, 6, 6g, 6c, 6b, 6d, 6k, 6e </td>
                <td style=min-width:50px>Wita</td>
                <td style=min-width:50px>Turczyński</td>
            </tr>
            <tr>
                <td style=min-width:50px>Monday, January 15, 2018</td>
                <td style=min-width:50px>Poniedziałek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Westerplatte 1-5, 6a, 2-28 </td>
                <td style=min-width:50px>Gwózdz</td>
                <td style=min-width:50px>Petela</td>
            </tr>
            <tr>
                <td style=min-width:50px>Tuesday, January 16, 2018</td>
                <td style=min-width:50px>Wtorek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Łaskiego 1-28, Kurasia, Bieniasza </td>
                <td style=min-width:50px>Guziel</td>
                <td style=min-width:50px>Gwózdz</td>
            </tr>
            <tr>
                <td style=min-width:50px>Wednesday, January 17, 2018</td>
                <td style=min-width:50px>Środa</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Tyska 50-18c </td>
                <td style=min-width:50px>Leksy</td>
                <td style=min-width:50px>Majcher</td>
            </tr>
            <tr>
                <td style=min-width:50px>Thursday, January 18, 2018</td>
                <td style=min-width:50px>Czwartek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Tyska 16-10, 8f, 8d, 8e, 8c, 8b, 8a, 8-2, 3, 7, 7a, 9 </td>
                <td style=min-width:50px>Turczyński</td>
                <td style=min-width:50px>Guziel</td>
            </tr>
            <tr>
                <td style=min-width:50px>Friday, January 19, 2018</td>
                <td style=min-width:50px>Piątek</td>
                <td style=min-width:50px>15:00</td>
                <td style=min-width:50px>Tyska 35-5, Malinowa </td>
                <td style=min-width:50px>Gwózdz</td>
                <td style=min-width:50px>Czyżykowski</td>
            </tr>
            <tr>
                <td style=min-width:50px>Sunday, January 21, 2018</td>
                <td style=min-width:50px>Niedziela</td>
                <td style=min-width:50px>13:00</td>
                <td style=min-width:50px>Kolęda na osiedlu „Diamentowym” oraz dodatkowa – po uprzednim zgłoszeniu w Zakrystii lub Kancelarii Parafialnej </td>
                <td style=min-width:50px>Turczyński</td>
                <td style=min-width:50px>Guziel</td>
            </tr>
        </table>
        <hr>
    </div>

</div>
