
<span class="bigtitle">Kim jest nasz patron?</span>

<div class="dottedline"></div>
<div class="row equal">
    <div class="col-sm-6 centre-verticaly">
        <img src="@Url.Content("~/Content/Pictures/tarsycjusz.jpg")" class="img-responsive img-thumbnail content-image" />
    </div>
    <div class="col-sm-6 centre-verticaly">
        <p>
            &emsp; Pod koniec listopada każdego roku obchodzimy w naszej parafii patronalne święto ministrantów – świętego Tarsycjusza. <br/>
            Święty Tarsycjusz miał być akolitą Kościoła Rzymskiego. Jest to jedno ze święceń niższych, które daje prawo klerykom Kościoła Rzymsko-Katolickiego usługiwania do Mszy świętej – a więc do zaszczytnej funkcji, którą obecnie pełnią ministranci. Nie znamy bliżej daty jego śmierci. Przypuszcza się, że św. Tarsycjusz poniósł śmierć męczeńską za panowania cesarza Decjusza (lata 249-251 po narodzeniu Chrystusa).<br/>
            &emsp; Było to jedno z najkrwawszych prześladowań. Chrześcijanie chętnie ginęli za Chrystusa, ale ich największym pragnieniem było, by mogli na drogę do wieczności posilić się Chlebem Eucharystii.
            Zanoszono im przeto potajemnie Komunię św. do więzień. Gorliwością w obsługiwaniu świętych męczenników wyróżniał się św. Tarsycjusz.
            Dnia pewnego, kiedy jak zwykle niósł na sercu Wiatyk do więzienia, napotkał swoich rówieśników, bawiących się na jednym z licznych placów rzymskich. <br/>
            &emsp; Pogańscy chłopcy zaczęli wołać Tarsycjusza, by się do nich przyłączył. On zaczął uciekać przed nimi. 
            Zaczęli go gonić. Kiedy zaś spostrzegli, że coś przyciska do piersi, chcieli zobaczyć co niesie i siłą mu to wydrzeć. 
            Bohaterski chłopiec bronił swego skarbu. Wówczas zgraja przewróciła go na ziemię, zaczęli go kopać i bić, rzucać nań kamieniami. 
            Dopiero przypadkowo przechodzący żołnierz, także chrześcijanin, miał chłopca uwolnić i bandę rozegnać. Zaniósł Tarsycjusza do domu, gdzie ten niebawem zmarł. 
            Najświętszy Sakrament ze czcią odniesiono do kapłana katolickiego.<br/>
        </p>
    </div>
</div>
