<span class="bigtitle">Aktualne służenia</span>

<div class="dottedline"></div>
<div class="row text-center">
    <div class="col-sm-12">
        <b><h3>Niedziela 03.12.17</h3></b>
        <p>
             7.00 Grupa 3 <br />
            10.00 Grupa 4 <br />
            16.30 Grupa 1 <br />
        </p>
        <b><h3>Poniedziałek 04.12.17</h3></b>
        <p> 18.00 Gimnazjum</p>

        <b><h3>Wtorek 05.12.17</h3></b>
        <p>
             7.00 Grupa 1 <br/>
            18.00 Gimnazjum
        </p>

        <b><h3>Środa 06.12.17<h3></b>
        <p>
             @*7.00 Grupa 2      <br />*@
             8.00 Msza szkolna <br />
        </p>

        <b><h3>Czwartek 07.12.17</h3></b>
        <p>
            @*7.00 Grupa 1      <br />*@
            18.00 Gimnazjum i Gurpa 2  <br />
        </p>

        <b><h3>Piątek 08.12.17</h3></b>
        <p>
            @*7.00 Grupa 1      <br />
            18.00 Gimnazjum   <br />*@
            7.00 Grupa 2 <br />
            10.00 Grupa 3 <br />
            16.30 Grupa 4 <br />
        </p>

        <b><h3>Sobota 09.12.17</h3></b>
        <p>
             7.00 Gimnazjum <br /> 
            18.00 Grupa 4   <br />
        </p>
        <b><h3>Niedziela 10.12.17</h3></b>
        <p>
             7.00 Grupa 1 <br />
            10.00 Grupa 2 <br />
            16.30 Grupa 3 <br />
        </p>
    </div>
</div>